*{
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style: none;
}
header{
    top: 0%;
    left: 0%;
    position: fixed;
    background-color: black;
    height: 70px;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 1) , rgba(0, 0, 0, 0.7));
}

.logo{
    width: 90px;
    height: 50px;
    float: left;
    padding: 10px 8px 10px 8px;
    margin-left: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.logo_name{
    float: left;
    color: rgb(255, 255, 255);
    padding-top: 0.6%;
    padding-left: 12px;
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
}

.logo_name:hover{
    color: rgb(151, 13, 151);
    transition: 0.6s ease;
}

.nav_links a{
    display: inline;
    text-decoration: none;
    color: white;
    float: right;
    padding: 15px 18px;
    font-family: 'Dongle', sans-serif;
    font-size: 28px;
    /* list-style: none; */
}

.nav_links a:hover{
    color: rgb(151, 13, 151);
    transition: 0.6s ease;
    text-decoration: 2px underline solid rgb(151, 13, 151);
}

ul,li:first-child{
   padding-right: 10px;
}

.loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white url('https://cdn.dribbble.com/users/108183/screenshots/2301400/media/f31dc8914e868107b8356de2f2cdb55f.gif') no-repeat center;
    z-index: 99999;
    
}

.blog{
    width: 95%;
    height: 100%;
    margin: 20px auto 10px;
    
}

#header1{

    font-family: 'Dongle', sans-serif;
    font-size: 32px;
}

.header1{     
    padding-top: 6%;
}

.para{
    padding: 12px 20px 20px 15px;
    font-family: 'Dongle', sans-serif;
    font-size: 28px;
}

.hr{
    background:purple;
}

.img1{
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.7);
    width: 55%; 
    height: 35%; 
    margin: 10px auto;
    display: block;
}

.img1:hover{
    width: 55.5%; 
    height: 35.5%;
    transition: 0.5s ease;
    cursor: pointer;
}
.footer-col ul li a{
    font-family: 'Dongle', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: rgba(130, 18, 241, 0.562);
}

.footer-col ul li a:hover{
    font-size: 25px;
    color: rgba(127, 7, 247, 0.801);
}

.footer-col h4{
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
    color: white;
}

.footer-col h4:hover{
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.808);
    cursor: pointer;
}

.container{
    max-width: 100%;
    padding: 30px 50px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.986);
    box-sizing: border-box; 
    padding: 14px 20px ;
}

.row{
    display: flex;
    /* flex-wrap: wrap; */
}

.footer-col{
    width: 23%;
    padding: 4px 10px;
}

.footer-col:first-child{
    margin-left: 40px;
}

.img{
    margin: 0px auto;
}

.next_page{
    text-align: center;
}
